.dialog {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: 30%;
    min-width: 200px;
    max-width: 300px;
    padding: 1.5em 1.2em;
}

.dialog::backdrop {
    backdrop-filter: blur(0.3px) grayscale(1);
}

.text {
    font-size: 1rem;
    margin-bottom: 1em;
    text-align: center;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.buttonCancel,
.buttonAccept {
    display: inline-block;
    width: 100%;
}

.buttonAccept {
    color: var(--accent);
}
