.taskContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-areas:
        "icon name project"
        ". description project"
        ". dueDate project"
        ". divider divider";

    margin-bottom: 0.5em;
}

.button {
    grid-area: icon;

    border: none;
    background-color: transparent;
    padding-left: 0;

    cursor: pointer;
}

.image {
    width: 18px;
    transition: content 1s;
}

.image:hover {
    content: url("../assets/check-circle.svg");
}

.name {
    grid-area: name;
    font-size: 0.9rem;
}

.description {
    grid-area: description;

    font-size: 0.75rem;
    color: var(--text-light);
}

.dueDate {
    grid-area: dueDate;

    font-size: 0.75rem;
    color: var(--accent);

    margin-top: 0.2em;
}

.project {
    grid-area: project;
    align-self: end;

    font-size: 0.75rem;
    color: var(--text-light);
}

.divider {
    grid-area: divider;

    border: none;
    border-bottom: 1px solid var(--lines);
    margin-top: 0.5em;
}
