.dialog {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding: 2em 1.5em;
}

.dialog::backdrop {
    backround: rgb(0, 0, 0, 1);
    backdrop-filter: blur(0.3px) grayscale(1);
}

.title {
    margin-bottom: 0.8em;
}

.label,
.inputText,
.inputDatalist,
.inputDate {
    display: block;
    width: 100%;
}

.label {
    font-size: 0.8rem;
    font-weight: 600;

    margin-bottom: 0.5em;
    span {
        font-weight: 300;
    }
}

.inputText,
.inputDatalist,
.inputDate {
    border-radius: 3px;
    padding: 10px 5px;
    border: none;
    border-left: 3px solid grey;
    background-color: #f1f1f1;

    margin-bottom: 1.2em;
}

.inputText:focus,
.inputDatalist:focus,
.inputDate:focus {
    border-left: 3px solid var(--accent);
    background-color: var(--accent-light);
    outline: none;
    box-shadow: none;
}

.buttonBox {
    display: flex;
    justify-content: center;

    margin-top: 1.5em;
}

.buttonCancel,
.buttonAdd {
    display: inline-block;
    width: 100%;
}

.buttonAdd {
    color: var(--accent);
}
